---
import logo from '../images/logo.svg';
import suiIcon from '../images/sui.svg';
import Icon from '../components/Icon.astro';

const routes = [
  { name: 'Swap', path: '/', icon: 'swap' },
  { name: 'Pools', path: '/pools', icon: 'pools' },
  { name: 'Farm', path: '/farm', icon: 'farm' },
  { name: 'History', path: '/history', icon: 'history' },
];
---

<header class="container flex justify-between mx-auto py-4">
  <nav class="flex gap-x-8">
    <img src={logo} class="w-8 h-8" />
    <div class="flex items-center gap-x-4">
      {
        routes.map((route) => (
          <a href={route.path} class="flex items-center gap-x-2">
            <Icon name={route.icon} />
            <span>{route.name}</span>
          </a>
        ))
      }
    </div>
  </nav>
  <div class="flex items-center gap-x-4">
    <div>Mainnet</div>
    <div class="flex items-center gap-x-1 border-black border rounded-full px-2 py-1">
      <img src={suiIcon} />
      <span>2 SUI</span>
    </div>
  </div>
</header>
