---
import type { MarkdownInstance } from 'astro';
import { Image } from 'astro:assets';
import { format } from '../utils/date';
import { images } from '../utils/image';

type Props = {
  post: MarkdownInstance<Record<string, any>>;
};

const { post } = Astro.props;
const { url, frontmatter } = post;
---

<a class="overflow-hidden rounded-md bg-card transition-transform hover:translate-y-1" href={url}>
  <div class="aspect-h-2 aspect-w-3">
    <Image
      class="h-full w-full object-cover object-center"
      src={images[frontmatter.id]}
      alt={frontmatter.title}
    />
  </div>

  <div class="px-3 pb-6 pt-4 text-center">
    <h2 class="text-xl font-medium text-heading">{frontmatter.title}</h2>

    <div class="mt-1 text-xs">
      {format(frontmatter.date)}
    </div>

    <div class="mt-2 overflow-hidden overflow-ellipsis whitespace-nowrap text-sm">
      {frontmatter.description}
    </div>
  </div>
</a>
