---
import { ColorTags } from '../utils/tag';
import Project from './Project.astro';
import Tag from './Tag.astro';
---

<div class="mx-auto max-w-screen-lg px-3 py-6">
  <div class="mb-6 text-2xl font-bold">
    Recent{' '}
    <span class="bg-gradient-to-br from-sky-500 to-cyan-400 bg-clip-text text-transparent">
      Projects
    </span>
  </div>
  <div class="flex flex-col gap-6">
    <Project
      name="Run2n"
      description="Run2n is a Web3 fitness and lifestyle mobile app with inbuilt NFT gaming and Social-fi elements where you can earn rewards in Crypto/NFTs just by movement like walking or running."
      link="https://run2n.netlify.app"
    >
      <img
        slot="thumbnail"
        class="h-36 w-36 hover:translate-y-1"
        src="/assets/images/run2n.png"
        alt="Run2n"
      />
      <Fragment slot="category">
        <Tag color={ColorTags.BLUE}>React</Tag>
        <Tag color={ColorTags.SKY}>React Native</Tag>
        <Tag color={ColorTags.PINK}>Vite</Tag>
      </Fragment>
    </Project>
    <Project
      name="Kingdom"
      description="A simple turn based game created with only frontend architecture and connect to BSC network."
      link="https://my-kingdom.netlify.app"
    >
      <img
        slot="thumbnail"
        class="h-36 w-36 hover:translate-y-1"
        src="/assets/images/kingdom.png"
        alt="Kingdom"
      />
      <Fragment slot="category">
        <Tag color={ColorTags.BLUE}>React</Tag>
        <Tag color={ColorTags.YELLOW}>Binance Smart Chain</Tag>
      </Fragment>
    </Project>
    <Project
      name="Sisu Network"
      description="Sisu network is a decentralized, trustless layer that connects and facilitates seamless transactions between various blockchains (cross chain)."
      link="https://sisu.network"
    >
      <img
        slot="thumbnail"
        class="h-36 w-36 hover:translate-y-1"
        src="/assets/images/sisu.png"
        alt="Sisu Network"
      />
      <Fragment slot="category">
        <Tag color={ColorTags.BLUE}>React</Tag>
        <Tag color={ColorTags.ZINC}>ExpressJS</Tag>
        <Tag color={ColorTags.ORANGE}>Nginx</Tag>
        <Tag color={ColorTags.AMBER}>Docker</Tag>
      </Fragment>
    </Project>
    <Project
      name="KO Exchange"
      description="KO Exchange is a decentralized exchange (or DEX, for short). KO Exchange allows users to trade trustlessly, peer-to-peer, with liquidity that is supplied by other users."
      link="https://app.ko.exchange"
    >
      <img
        slot="thumbnail"
        class="h-36 w-36 hover:translate-y-1"
        src="/assets/images/ko-exchange.png"
        alt="KO Exchange"
      />
      <Fragment slot="category">
        <Tag color={ColorTags.BLUE}>React</Tag>
        <Tag color={ColorTags.ORANGE}>BEM</Tag>
        <Tag color={ColorTags.GRAY}>EVM based-chain</Tag>
        <Tag color={ColorTags.YELLOW}>Binance Smart Chain</Tag>
        <Tag color={ColorTags.BLUE}>Cardano</Tag>
        <Tag color={ColorTags.GREEN}>Solana</Tag>
      </Fragment>
    </Project>
  </div>
</div>
