---
import { Image } from 'astro:assets';
import BaseLayout from '../layouts/BaseLayout.astro';
import { format } from '../utils/date';
import { images } from '../utils/image';

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <div class="mx-auto max-w-screen-lg px-3 py-6">
    <h1 class="text-center text-3xl font-semibold text-heading">{frontmatter.title}</h1>

    <div class="mt-2 text-center text-sm">
      {format(frontmatter.date)}
    </div>

    <div class="mx-auto mt-5 max-w-prose">
      <div class="aspect-h-2 aspect-w-3">
        <Image
          class="h-full w-full rounded-lg object-cover object-center"
          src={images[frontmatter.id]}
          alt={frontmatter.title}
        />
      </div>

      <div class="prose prose-invert mt-8 prose-img:rounded-lg">
        <slot />
      </div>
    </div>
  </div>
</BaseLayout>
